<!--
<form class="col-xs-12 col-md-6 form-class" onsubmit="submitted()">
        <div class="form-group">
          <div class="col-xs-12 col-md-6">
            <label for="name">Name</label>
            <input class="form-control" type="text" placeholder="Enter your name" id="name" required>
          </div>
          <div class="col-xs-12 col-md-6">
            <label for="telephone">Tel.</label>
            <input class="form-control" type="tel" placeholder="Enter your phone number">
          </div>
          <div class="col-xs-12">
            <label for="mail">E-mail</label>
            <input class="form-control" type="email" placeholder="Enter E-Mail" id="mail" required>
          </div>
          <div class="col-xs-12">
            <label>Message:</label>
            <textarea class ="form-control message-box" placeholder="Your message here" cols="40" rows="5" minlength="20"></textarea>
            <p id="char-count"></p>
            <p id="visible-comment"></p>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    -->


<%= form_tag("/contact", method: "get", :class => "form-class") do %>
  <div class="form-group col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-6">
      <%= label_tag("Name") %>
      <%= text_field_tag("post", "Enter your name", :class => "form-control") %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= label_tag("Phone") %>
      <%= text_field_tag("post", "Enter your phone", :class => "form-control") %>
    </div>
     <div class="col-xs-12 col-sm-6">
      <%= label_tag("Mail") %>
      <%= text_field_tag("post", "Enter your e-mail", :class => "form-control") %>
    </div>
    <div class="col-xs-12 col-sm-12">
      <%= label_tag("Message") %>
      <%= text_area_tag("post", "", :class => "form-control", col: 20, rows: 10) %>
    </div>
    <div class="col-xs-12">
      <%= submit_tag("Send", :class => "btn btn-primary") %>
    </div>
  </div>
<% end %>