
<% cache product do %>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="product-item"> 
    <h2 class="product-name"><%= link_to product.name, product %><h2>
    <%= link_to(image_tag(product.image_url, class: "img-circle img-responsive"), product) %>
    <p class="product-description"><%= truncate(product.description, length: 150) %></p>
    <h2 class="product-color">Color: <%= product.colour %> </h2>
      
    <hr>
      
    <div class="product-price"><%= product.price %> €</div>
    <div class="col-xs-12 edit-product">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>